{{#if usuario.usuario}}

<!-- Main Sidebar Container -->
<aside id="menu-lateral" class="main-sidebar sidebar-dark-primary elevation-4">

  <!-- Brand Logo -->
  <a href="/" class="brand-link">
    <img src="/img/icon_system.ico" alt="JSA System" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">JSA System</span>
  </a>
  <!-- Sidebar -->
  <div class="sidebar">

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column nav-lateral" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>

{{/if}}
